body{
  background: #FBE9E7;
  font-family: 'Roboto', sans-serif !important;
}
.app-header{
  width: 100vw;
  height: 50px;
  background: #fbe0d7;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  z-index: 10;
}
.app-header a {
  float: left;
  background: #fbd3c6;
  border-radius: 6px;
  padding: 6px 10px;
  margin: 0px 0px;
  margin-right: 8px;
  color: #ffa487;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
}
.app-header a.active{
  background: #fcc6b3;
  color: #fe7143;
}
.sidebar{
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  transition: all .3s;
  overflow: hidden;
}
.sidebar-wrapper{
  position: absolute;
  padding: 20px;
  padding-top: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}
.sidebar:hover a{
  background: #ffd5c7;
  color: #ff8b65;
}
.sidebar a{
  float: left;
  clear: both;
  background: #ffddd2;
  border-radius: 6px;
  padding: 8px 10px;
  margin: 7px 0px;
  color: #ffb198;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
}
.sidebar a:hover{
  background: #feb69f;
  color: #ff5d29;
}
.body{
  margin-left: 200px;
  padding-top: 47px;
  top: 0px;
  width: calc(100vw - 217px);
  height: 100vh;
  box-sizing: border-box;
}
.doc{
  width: 85%;
  min-width: 600px;
  max-width: 1000px;
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 0px;
  border: 3px solid #FF5722;
  border-radius: 7px 7px 3px 3px;
  box-shadow: 0px 3px 5px -1px rgba(255, 87, 34, 0.7);
}
.doc img{
  max-width: 100%;
  max-height: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  margin-bottom: 6px;
}
.doc-description{
  font-style: italic;
  color: #7b3018;
  padding: 10px 10px 10px 0px;
}
.doc .header{
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;
  background: #FF5722;
  padding: 10px;
  font-size: 24px;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
}
.prism-block{
  display: block;
  margin-bottom: 8px;
  margin-top: 6px;
  padding: 8px !important;
  overflow-x: auto;
}
.row h4{
  color: #FF5722;
  font-weight: bold;
  font-size: 18px;
  background: #FBE9E7;
  margin: 0px -10px 0px -10px;
  padding: 7px 10px;
}
.item{
  color: #7b3018;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 1px solid #FBE9E7;
}
.custom{
  padding-left: 10px;
  padding-right: 10px;
}
.row .item:last-child{
  border: none;
}
.col{
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  vertical-align: top;
}
.col.name{
  width: 15%;
  font-weight: bold;
  padding-left: 20px;
}
.col.description{
  width: 85%;
  font-style: italic;
  border-left: 2px dotted #FFAB91;
}
.default-val, .data-type{
  font-weight: bold;
  font-style: normal;
}
h4.sub-header{
  background: none;
  font-style: normal;
  font-size: 16px;
}
.parameter{
  font-style: normal;
  margin-bottom: 10px;
  border-bottom: 1px solid #FBE9E7;
  padding-bottom: 5px;
}
.parameter-container .parameter:last-child{
  border: none;
}
.param-name{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  box-sizing: border-box;
}
.param-description{
  max-width: 80%;
  display: inline-block;
  padding-left: 10px;
  box-sizing: border-box;
}
.sidebar a.visible{
  background: #ffccbb;
  color: #ff7b50;
}
